[Unit]
Description=Arcade Tracker Flask Application
After=network.target

[Service]
Type=simple
User=jackiegreybard
Group=jackiegreybard
WorkingDirectory=/home/jackiegreybard/arcade-tracker
ExecStart=/bin/bash /home/jackiegreybard/arcade-tracker/run_app.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
